body{
    margin:0px;
    text-align:center;
    overflow:hidden;
    transition:0.5s;
    background-color:black;
}

input{
    margin-top:10px;
    position:absolute;
    width:150px;
    margin-left:-75px;
    text-transform:capitalize;
}

#bar{
    position:absolute;
    width:100%;
    height:300px;
    margin-top:480px;
    background-color:white;
    text-align:center;
}

svg{
    width:550px;
    height:10000px;
    position:absolute;
    margin-left:-275px;
    margin-top:-9800px;
    font-size:15px;
}

.life{
    width:10px;
    height:10px;
    background-color:red;
    margin:3px;
}

#score{
    color:red;
    position:absolute;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    font-family:Mako;
    text-align:left;
    width:100px;
    height:30px;
    margin-top:40px;
    margin-left:-44px;
    }
    
#box{
    background-color:black;
    transition:3s;
    padding:10px;
    color:white;
    position:absolute;
    margin-left:70%;
    text-align:center;
    font-family:Mako;
    font-size:12px;
}